body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.brown-back {
  background-color: #dab785;
}
.beige-back {
  background-color: #F5EBDD;
}
.brown-text {
  color: #6B4226;
}